@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
* {
   box-sizing: border-box;
}
body {
   font-family: Open Sans;
   background-color: rgba(177, 176, 193, 0.85);
   font-family: Roboto;
}
.highlight {
   display: inline-block;
   background-color: rgba(0,0,255,0.5);
}
@mixin main__width {
   width: 950px;
   padding: 100px 50px;
   margin: 0 auto;
   margin-top: 100px;
   background-color: rgba(255, 255, 255, 0.7);
}
.body__wrap {
  @include main__width;
}
td {
  background: gray;
  border: 1px solid white;
}
.active {
   background: yellow;
}
table {
   margin-top: 50px;
}
.td {
   height: 40px;
   line-height: 40px;
   width: 40px;
   text-align: center;
}
.controls {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   &__size {
      display: flex;
      flex-direction: column;
      .inputs {
         display: flex;
         justify-content: space-between;
         line-height: 30px;
         input {
            padding-left: 20px;
            height: 30px;
            line-height: 30px;
            width: 40%;
         }
      }
      button {
         margin-top: 20px;
         height: 30px;
         line-height: 30px;
         width: 100%;
      }
   }
   &__merge {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      button {
         height: 30px;
         line-height: 30px;
         width: 50%;
      }
   }
   &__add {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      input {
         padding-left: 20px;
         height: 30px;
         line-height: 30px;
         width: 40%;
      }
      button {
         height: 30px;
         line-height: 30px;
         width: 10%;
      }
   }
   &__delete {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      input {
         padding-left: 20px;
         height: 30px;
         line-height: 30px;
         width: 40%;
      }
      button {
         height: 30px;
         line-height: 30px;
         width: 10%;
      }
   }
}